*{
    outline: none;
}


  

.container-loading-piano{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(49, 48, 59, 0.574);
    color: #fff;
    z-index: 999;


}

.piano-container-height{
  height: calc(100vh - 80px) !important;
  overflow-y: auto;
}